<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Lost & Found Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <div class="logo">
        Lost & Found
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/report-item">Report Item</a>
        <a href="/items">View Items</a>

        {% if session.get("user") %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>
</nav>

<section class="hero">

    <h1>Campus Lost & Found Portal</h1>

    <p>
        Lost something on campus? Found an item?
        Help students reconnect with their belongings.
    </p>

    <div class="buttons">

        <a href="/report-item">
            <button>Report Item</button>
        </a>
        
        <a href="/items">
            <button>View Items</button>
        </a>

    </div>

</section>

</body>
</html>